@font-face {
  font-family: 'TradeGothicBoldCondensed';
  src: url('TradeGothicBoldCondensed.eot?#iefix') format('embedded-opentype');
  src: url('TradeGothicBoldCondensed.woff') format('woff'),
    url('TradeGothicBoldCondensed.ttf') format('truetype'),
    url('TradeGothicBoldCondensed.svg#c901ad5f-a842-4549-a1f4-583a97f7e169') format('svg');
  font-weight: normal;
  font-style: normal;
}
