$base-background-color: #e5e5e7;

$orange: #ffa409;
$dark-gray: #58585a;
$light-gray: #b5b5b5;
$white: #fff;


$base-width: 935px;

$base-font-family: "TradeGothicBoldCondensed";
$copy-font-family: "Arial";
