.furnature {
  width: 975px;
  display: block;
  margin: auto;
  /*@include outer-container;*/
  .grid-sizer {
    width: 311px;
  }
  .product {
    /*@include span-columns(4);*/
    padding: 35px 0;
    text-transform: uppercase;
    width: 311px;
    margin: 0 5px;
    .furnature_image {
      width: 303px;
      height: 303px;
      padding: 13px;
    }
    .furnature_name {
      color: $dark-gray;
      font-size: 33px;
      margin: 0;
      padding: 0 13px;
      font-weight: normal;
    }
    .quick_info, .plus {
      color: $orange;
      font-size: 20px;
      margin: 0;
      padding: 0 13px;
      font-weight: normal;
      cursor: pointer;
    }
    .plus {
      padding: 0;
    }
    .quick_info_text {
      color: $dark-gray;
      font-size: 14px;
      text-transform: none;
      font-family: $copy-font-family;
      margin: 20px 0 0 0;
      padding: 13px 13px 0 13px;
    }
  }
}


